/*--------------------RESET CSS--------------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Lexend:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------/RESET CSS--------------------*/
/*--------------------VARS--------------------*/
/*--------------------/VARS--------------------*/
/*--------------------FONTS--------------------*/
/*--------------------/FONTS--------------------*/
/*--------------------BODY,CONTAINER--------------------*/
body {
  font-family: "DM Sans";
  display: flex;
  flex-direction: column;
}
body.lock {
  overflow: hidden;
  position: fixed;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

/*--------------------/BODY,CONTAINER--------------------*/
/*--------------------GLOBAL--------------------*/
.text {
  color: #666666;
  font-size: 20px;
}

.title {
  color: #42446E;
  font-weight: bold;
  font-size: 48px;
}

.highlighted-text {
  background-image: linear-gradient(to right, #13B0F5, #E70FAA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*--------------------/GLOBAL--------------------*/
/*--------------------HEADER--------------------*/
.header {
  background-color: white;
  position: fixed;
  width: 100%;
}
.header-container {
  display: flex;
  padding: 20px;
  padding-top: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  padding-bottom: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 3px;
}

.menu-icon {
  display: none;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: relative;
    z-index: 5;
    cursor: pointer;
    height: 18px;
    width: 30px;
  }
  .menu-icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    background-color: #42446E;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon.active span {
    transform: scale(0);
  }
  .menu-icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
@media (max-width: 768px) {
  .menu-body {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    transition: all 0.3s;
    overflow: auto;
  }
  .menu-body.active {
    left: 0;
  }
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
}
@media (max-width: 768px) {
  .menu-list {
    flex-direction: column;
    gap: 0;
    padding: 30px;
    margin: auto;
  }
}
.menu-link {
  font-size: 20px;
  color: #666666;
  transition: all 0.3s;
}
.menu-link:hover {
  font-size: 24px;
  color: #000;
}
@media (max-width: 768px) {
  .menu-link {
    line-height: 70px;
    display: block;
    font-size: 33px;
  }
}
.menu-icon-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-icon-list-item {
  transition: all 0.3s;
}
.menu-icon-list-item:hover {
  opacity: 0.8;
}

/*--------------------/HEADER--------------------*/
/*--------------------MAIN--------------------*/
main {
  flex: 1;
}

.introduction {
  padding-top: clamp(3.75rem, -1.705rem + 27.27vw, 18.75rem);
  /* .introduction-container */
  /* .introduction-text */
  /* .introduction-img */
}
.introduction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .introduction-container {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 40px;
  }
}
.introduction-text {
  max-width: 600px;
  font-size: clamp(2.125rem, 1.807rem + 1.59vw, 3rem);
  max-height: 300px;
}
@media (max-width: 768px) {
  .introduction-text {
    text-align: center;
  }
}
.introduction-img {
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #13B0F5, #E70FAA);
}
.introduction-img img {
  max-width: clamp(15rem, 12.5rem + 12.5vw, 21.875rem);
  max-height: clamp(15rem, 12.5rem + 12.5vw, 21.875rem);
  border-radius: 50%;
  overflow: hidden;
  padding: 6px;
}

/*--------------------/MAIN--------------------*/
/*--------------------FOOTER--------------------*/
.footer {
  width: 100vw;
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  /* .footer-container */
  /* .footer-upper */
  /* .footer-logo */
  /* .footer-media */
  /* .footer-images */
  /* .footer-bottom */
  /* .footer-list */
  /* .footer-item */
  /* .footer-copyright */
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-upper {
  padding-bottom: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
}
.footer-logo {
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  padding-left: 0;
}
.footer-media {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-images {
  transition: all 0.3s;
}
.footer-images:hover {
  opacity: 0.8;
}
.footer-bottom {
  padding-top: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  border-top: 1px solid #666666;
}
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .footer-bottom {
    gap: 35px;
  }
}
.footer-list {
  display: flex;
  align-items: center;
  gap: clamp(0.688rem, 0.509rem + 0.89vw, 0.938rem);
}
@media (max-width: 480px) {
  .footer-list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
/*--------------------/FOOTER--------------------*//*# sourceMappingURL=style.css.map */