/*--------------------RESET CSS--------------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Lexend:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------/RESET CSS--------------------*/
/*--------------------VARS--------------------*/
/*--------------------/VARS--------------------*/
/*--------------------FONTS--------------------*/
/*--------------------/FONTS--------------------*/
/*--------------------BODY,CONTAINER--------------------*/
body {
  font-family: "DM Sans";
  display: flex;
  flex-direction: column;
}
body.lock {
  overflow: hidden;
  position: fixed;
}

.container {
  margin: 0 auto;
  max-width: 85vw;
  padding: 0 20px;
}

/*--------------------/BODY,CONTAINER--------------------*/
/*--------------------GLOBAL--------------------*/
.text {
  color: #666666;
  font-size: 20px;
}

.title {
  color: #42446E;
  font-weight: bold;
  font-size: 48px;
}

.highlighted-text {
  background-image: linear-gradient(to right, #13B0F5, #E70FAA);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*--------------------/GLOBAL--------------------*/
/*--------------------HEADER--------------------*/
.header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header-container {
  display: flex;
  padding: 20px;
  padding-top: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  padding-bottom: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
  font-weight: bold;
  text-decoration: none;
  padding: 3px;
}

.menu-icon {
  display: none;
}
@media (max-width: 900px) {
  .menu-icon {
    display: block;
    position: relative;
    z-index: 5;
    cursor: pointer;
    height: 18px;
    width: 30px;
  }
  .menu-icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    background-color: #42446E;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-icon.active span {
    transform: scale(0);
  }
  .menu-icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
@media (max-width: 900px) {
  .menu-body {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    transition: all 0.3s;
    overflow: auto;
  }
  .menu-body.active {
    left: 0;
  }
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
}
@media (max-width: 900px) {
  .menu-list {
    flex-direction: column;
    gap: 0;
    padding: 30px;
    margin: auto;
  }
}
.menu-link {
  font-size: 20px;
  color: #666666;
  transition: all 0.3s;
}
.menu-link:hover {
  font-size: 24px;
  color: #000;
}
.menu-link.active {
  font-size: 24px;
  color: #000;
}
@media (max-width: 900px) {
  .menu-link {
    line-height: 70px;
    display: block;
    font-size: 33px;
  }
  .menu-link.active {
    font-size: 38px;
    color: #000;
  }
}
.menu-icon-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-icon-list-item {
  transition: all 0.3s;
}
.menu-icon-list-item:hover {
  opacity: 0.8;
}

/*--------------------/HEADER--------------------*/
/*--------------------MAIN--------------------*/
main {
  flex: 1;
}

.introduction {
  padding-top: clamp(5rem, 25vw, 18.75rem);
  /* .introduction-container */
  /* .introduction-text */
  /* .introduction-img */
}
.introduction-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .introduction-container {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 40px;
  }
}
.introduction-text {
  max-width: 600px;
  font-size: clamp(2.125rem, 1.58rem + 2.73vw, 3.625rem);
  max-height: 300px;
  line-height: 110%;
}
@media (max-width: 768px) {
  .introduction-text {
    text-align: center;
  }
}
.introduction-img {
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #13B0F5, #E70FAA);
}
.introduction-img img {
  max-width: clamp(15rem, 12.5rem + 12.5vw, 21.875rem);
  max-height: clamp(15rem, 12.5rem + 12.5vw, 21.875rem);
  border-radius: 50%;
  overflow: hidden;
  padding: 6px;
}

.technologies {
  padding-top: clamp(5rem, 25vw, 18.75rem);
  /* .technologies-container */
  /* .technologies-heading */
  /* .technologies-title */
  /* .technologies-subtitle */
  /* .technologies-images */
  /* .technologies-row */
  /* .technologies-item */
  /* .technologies-icon */
}
.technologies-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2.5rem, 0.227rem + 11.36vw, 8.75rem);
}
.technologies-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
}
.technologies-title {
  font-size: clamp(2.5rem, 1.5rem + 5vw, 3rem);
  text-align: center;
}
.technologies-subtitle {
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  text-align: center;
}
.technologies-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
@media (max-width: 768px) {
  .technologies-images {
    gap: 50px;
  }
}
.technologies-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .technologies-row {
    row-gap: 50px;
  }
}
@media (max-width: 768px) {
  .technologies-item {
    text-align: center;
    flex: 0 1 48%;
  }
}
.technologies-item img {
  border-radius: 10px;
  width: 140%;
  height: auto;
}
.technologies-icon {
  max-width: clamp(5.625rem, 4.943rem + 3.41vw, 7.5rem);
  max-height: clamp(5.625rem, 4.943rem + 3.41vw, 7.5rem);
}

.projects {
  /* .projects-container */
  /* .projects-heading */
  /* .projects-title */
  /* .projects-subtitle */
  /* .projects-content */
  /* .projects-row */
  /* .projects-card */
}
.projects-container {
  padding-top: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2.5rem, 1.136rem + 6.82vw, 6.25rem);
}
.projects-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.projects-title {
  text-align: center;
  font-size: clamp(2.5rem, 1.5rem + 5vw, 3rem);
}
.projects-subtitle {
  text-align: center;
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
}
.projects-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}
.projects-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .projects-row {
    flex-direction: column;
    gap: 40px;
  }
}
.projects-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 0px 19px -8px rgba(66, 68, 90, 0.62);
  max-width: clamp(18.125rem, 16.193rem + 9.66vw, 23.438rem);
  transition: all 0.3s;
  max-width: 500px;
  z-index: 1;
}
@media (max-width: 768px) {
  .projects-card {
    flex: 0 1 95%;
    max-width: none;
    width: 100%;
  }
}
.projects-card:hover {
  scale: 1.05;
}
.projects-card-img img {
  display: block;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.projects-card-content {
  padding: clamp(0.75rem, 0.341rem + 2.05vw, 1.875rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
}
.projects-card-title {
  font-size: clamp(1.375rem, 0.625rem + 3.75vw, 1.75rem);
}
.projects-card-text {
  font-size: clamp(1rem, 0.75rem + 1.25vw, 1.125rem);
  line-height: clamp(1.375rem, 0.875rem + 2.5vw, 1.625rem);
}

.about {
  /* .about-container */
  /* .about-title */
  /* .about-text */
}
.about-container {
  padding-top: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
}
.about-title {
  font-size: clamp(2.5rem, 1.5rem + 5vw, 3rem);
}
.about-text {
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  line-height: clamp(2rem, 1.682rem + 1.59vw, 2.875rem);
}

.work {
  /* .work-container */
  /* .work-title */
  /* .work-list */
  /* .work-item */
  /* .work-date */
  /* .work-status */
}
.work-container {
  padding-top: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
}
.work-title {
  font-size: clamp(2.5rem, 1.5rem + 5vw, 3rem);
}
@media (max-width: 480px) {
  .work-title {
    text-align: center;
  }
}
.work-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.work-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-top: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  padding-bottom: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  border-top: 1px solid #666666;
}
.work-item-title {
  font-size: 20px;
}
.work-item:first-child {
  border-top: none;
}
@media (max-width: 480px) {
  .work-item {
    flex-direction: column;
    gap: 20px;
  }
}
.work-date {
  color: #A7A7A7;
  font-size: 12px;
}
.work-status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #D7FFE0;
  color: #018C0F;
}

.contact {
  /* .contact-container */
  /* .contact-title */
  /* .contact-list */
  /* .contact-item */
  /* .contact-link */
}
.contact-container {
  padding-top: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2.188rem, 1.847rem + 1.7vw, 3.125rem);
}
.contact-title {
  text-align: center;
  font-size: clamp(2rem, 1.5rem + 2.5vw, 3.375rem);
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-item {
  text-align: center;
}
.contact-link {
  font-size: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
  font-weight: bold;
  transition: all 0.3s;
}
.contact-link:hover {
  font-size: clamp(2.125rem, 1.625rem + 2.5vw, 3.5rem);
}

/*--------------------/MAIN--------------------*/
/*--------------------FOOTER--------------------*/
.footer {
  width: 100vw;
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  /* .footer-container */
  /* .footer-upper */
  /* .footer-logo */
  /* .footer-media */
  /* .footer-images */
  /* .footer-bottom */
  /* .footer-list */
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-upper {
  padding-bottom: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
}
.footer-logo {
  font-size: clamp(1.5rem, 1.364rem + 0.68vw, 1.875rem);
  font-weight: bold;
  padding: 5px;
  padding-left: 0;
}
.footer-media {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-images {
  transition: all 0.3s;
}
.footer-images:hover {
  opacity: 0.8;
}
.footer-bottom {
  padding-top: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  border-top: 1px solid #666666;
}
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .footer-bottom {
    gap: 35px;
  }
}
.footer-list {
  display: flex;
  align-items: center;
  gap: clamp(0.688rem, 0.509rem + 0.89vw, 0.938rem);
}
@media (max-width: 600px) {
  .footer-list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.footer-item a {
  color: #666666;
}

/*--------------------/FOOTER--------------------*//*# sourceMappingURL=style.css.map */